* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    line-height: 1.6;
    
  }
  
  header {
    color: rgb(18, 189, 247);
    text-align: center;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  .car-list {
    display: flex;
    flex-wrap: wrap;  
    justify-content:space-around;  
    gap: 20px;  
    margin-top: 20px;
  }
  
  .car-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;  
    padding: 20px;
    text-align: center;
    width: 250px;  
    transition: transform 0.5s ease, box-shadow 0.3s ease;  
  }
  
  .car-card img {
    width: 100%;  
    height: auto;  
    border-radius: 5px;  
  }
  
  .car-card h2 {
    font-size: 20px;
    margin-top: 15px;
  }
  
  .car-card p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .car-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #030b62;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  .car-card a:hover {
    background-color: #0f1b9b;  
  }
  
  
  .car-card:hover {
    transform: translateY(-10px) scale(1.05);  
    box-shadow: 0 8px 20px rgba(22, 58, 199, 0.2);  
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color:  #012f86;
    color: #fff;
    position: relative;
    
}

.logo-img {
    height: 50px;
    width: auto;
    padding: 10px 0px 0px 0px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ccc;
}


.menu-toggle {
    display: none;
    font-size: 1.5rem;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 0;
        position: absolute;
        top: 100%;
        right: 0;
     background-color:#161e2e;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

.back-container{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}
.back-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #012f86;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.back-button:hover{
background-color: #334add;}

.footer{
  background-color: #012f86;
  color:#fff;
  padding: 20px 0;
  font-size: 0.9rem;
  margin-top: 20px;
}
.footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section{
flex:1;
min-width: 200px;
margin:10px 0;
}

.footer-section h4{
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #ffffff;
}

.footer-section ul{
  list-style: none;
  padding: 0;
}

.footer-section ul li{
margin:5px 0;
}

.footer-section ul li a{
  text-decoration: none;
  color:#fff;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover{
  color:#8a9092;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.social-icons a {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff8f8;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.social-icons a img {
  width: 18px;
  height: 18px;
}

.social-icons a img:hover{
  background-color: #ffffff;
  transform: scale(1.1);
}

.footer-bottom{
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ffffff;
  padding: 10px 0;
  font-size: 0.8rem;

}